/* Globals */

h1 {
  font-size: 2em;
  margin: 10px;
}

.break {
  display: inline-block;
  width: 100%;
}

.container {
  margin-top: 20px;
}

.main-container > .columns {
  margin-top: 1%;
}


/* Header */

.subtitle a {
  font-size:  1em;
  margin: 10px;
}

/* POSTS */

.image img{
  width: auto;
  max-height: 100%;
}
/* Footer  */

footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}
