/* Globals */

* { 
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 2em;
  margin: 10px;
}

.break {
  display: inline-block;
  width: 100%;
}

.container {
  margin: 20px auto;
  padding: 0 10px;
}

.main-container > .columns {
  margin-top: 1%;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.is-vertical-center-vert-items{
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  padding-bottom: 200px; /* height of footer */
  position: relative;
  min-height: 100vh; 
}

/* Header */

.navbar-burger span {
  color: white;
}

.subtitle a {
  font-size:  1em;
  margin: 10px;
}

.logout:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #00d1b2;
}


/* HOME PAGE  */

.hero {
  height: 100vh; 
  background-image: url('../images/leaves.JPG');
  background-attachment: fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
.home-tagline {
  width: 100%;
  height: 30vh; 
  background-image: url('../images/fabricpile2.jpg');
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
}

.cartoons .column {
  margin: 0; 
}

.cartoons .column >img{
  margin-left: auto; 
  margin-right:auto; 
  display: block; 
  width: 50%;
}

.cartoons .column {
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
  opacity: 0;
  visibility: hidden;
}

.cartoons .column.fadeIn{
  opacity: 1;
  visibility: visible;
}


.cartoons .column > p {
  margin-top: 15px; 
}

/* POSTS */

.post{
  border-bottom: 1px solid #e8e8e8;
}

.image img{
  width: auto;
  max-height: 100%;
}

#image-preview{
  width: 25%;
  max-height: 200px;   
}

/* COMMENTS */

.vote:hover {
  cursor: pointer;
  color: #00d1b2;
}
/* Footer  */

footer {
  background-color: gray;
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


@media screen and (max-width: 450px) {
	.home-tagline{
    height: 60vh; 
  }
}